<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/dark-icon.png">
  <title>Results My Way</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
</head>

<body>
  <form>
    <h3 class="h3 mb-3 font-weight-normal">Step 2</h3>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <p>Confirm correct patient:</p>
        <div class="row text-muted" style="background:white;border-bottom:1px solid gray">
            <div class="col-md-4">Name</div>
            <div class="col-md-4">DOB</div>
            <div class="col-md-4">Facility</div>
        </div>
        <div class="row text-muted" style="background:white;">
            <div class="col-md-4"><%= name %></div>
            <div class="col-md-4"><%= dob %></div>
            <div class="col-md-4"><%= facility %></div>
        </div>
        <div class="row text-muted" style="background:white;">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">&nbsp;</div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <a href="/activate-step3" class="btn btn-md btn-outline-light btn-block">Confirm</a>
          </div>
          <div class="col-md-4">
            <a href="/activate-step1" class="btn btn-md btn-outline-light btn-block">Not Right</a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
    <p class="mt-5 mb-3">&copy; 2020</p>
  </form>
</body>
</html>
