<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Results My Way</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="img/light-icon.png" alt="" width="50%" height="100%">
      <h1 class="h3 mb-3 font-weight-normal">Results My Way</h1>
      <input type="email" id="inputEmail" class="form-control" placeholder="MyChart ID">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password">
      <a class="mb-2 btn btn-lg btn-info btn-block" href="/home">Sign in</a>
      <p class="mb-4 text-muted"><a>Forgot MyChart ID?</a>&emsp;<a>Forgot Password?</a></p>
      <hr class="mb-4" style="background-color: #ccc;">
      <p class="mb-2">New User?</p>
      <a href="activate1" class="btn btn-md btn-light btn-block" type="submit">Activate Account</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
